<launch>
	<node name="obs_vel_filter" pkg="velocity_filter" type="velocity_filter" >
        <param name="t_safe" value="3.0"/>
        <param name="max_obstacle_age" value="120.0" />
        <param name="resolution_deg" value="45" />
        <param name="safety_first" value="false" type="bool" />
        <param name="cell_input" value="/costmap_2d/costmap/obstacles" />
        <param name="cmd_input" value="/homing/cmd" />
        <param name="cmd_output" value="/obs_vel_filter/cmd_vel" />
        <param name="num_velocities" value="20" />
        <param name="num_omega" value="25" />
        <param name="velocity_tolerance" value="0.1" />
        <param name="velocity_max" value="0.3" />
        <param name="omega_max" value="3.1516/2" />
        <param name="sec_dist_front" value="0.40" />
        <param name="sec_dist_lateral" value="0.30" />
        <param name="brake_dist" value="0.27" />

    </node>

</launch>

